<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="upService"
    type="UpService.UpServiceSection, UpService" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" type="Console" layout="${message}" />
      <target name="debugger" type="Debugger" layout="${message}"/>
      <target name="file" xsi:type="File" fileName="nlog.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,debugger,file" />
    </rules>
  </nlog>
  <upService>
    <ServiceName>LIDAB</ServiceName>
    <UserName>LoginAccount</UserName>
    <Password>LoginPassword</Password>
    <StartScript>
      <![CDATA[ 
      cd C:\!projects\+js\lidab 
      npm start | Out-File "d:\outfile.txt"
      ]]>
    </StartScript>
  </upService>
</configuration>
